.btn-sm{
    position: absolute;
    bottom: 7px;
    right: 7px;
}
.author-date{
    position: absolute;
    bottom: 7px;
    left: 7px;
    font-size: small;
    width: 75%;
}
.card-css{
    height: 30rem;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px;
}
.summary-style{
    display: block;
}
.image-style{
    height:200px;
    object-fit: cover;
}
